*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App{
  position: relative;
  width: 100%;
}

.menu{
  width: 100%;
  height: 40px;
  line-height: 40px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0 0 50px 0;
}

.menu ul{
  list-style-type: none;
}

.menu li {
  background: #0066ff;
}

.menu a{
  text-decoration: none;
  color: #fff;
  padding: 15px;
  font-weight: 600;
  font-size: 15px;
  display: block;
}

.listaClientes{
  float: left;
  text-align: left;
}

.imgListaClientes{
  width: 100%;
  height: auto;
  max-width: 70px;
}

.removerCliente input{
  border: none;
  border-bottom: 1px solid gray;
}
.removerCliente{
  float: right;
}


.adicionarClientes{
  float: right;
  margin-bottom: 20px;
}

.adicionarClientes input{
  border-radius: 5px;
  border: 1px solid gray;
  padding: 5px;
}

/** DEFAULT: FORMULÁRIO ADICIONAR CLIENTE E REMOVER CLIENTE **/

button{
  margin: 7px 0 0 0;
  background-image: linear-gradient(to bottom, #0066ff, #1E62D0);
  border-radius: 5px;
  height: 30px;
  width: 90px;
  border: 1px solid #337FED;
  cursor: pointer;
  color: #fff;
  font-weight: 600;
  width: 150px;
  letter-spacing: 0.06em;
}

label {
  font-weight: 600;
}

h2{
  padding: 0 0 10px 0;
}

/** FIM FORMULARIOS **/

@media only screen and (max-width: 1366px){
  .adicionarClientes, .removerCliente{
    float: none;
  }
}